[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
[submodule ".zsh-git-prompt"]
	path = .zsh-git-prompt
	url = https://github.com/shadanan/zsh-git-prompt.git
	branch = master
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "shad-zsh-theme"]
	path = shad-zsh-theme
	url = https://github.com/shadanan/oh-my-zsh-themes.git
	branch = master
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	branch = master
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	branch = master
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "rmate"]
	path = rmate
	url = https://github.com/aurora/rmate.git
