[user]
	name = Shad Sharma
	email = shadanan@gmail.com
[push]
    default = current
[core]
	excludesfile = ~/.gitignore_global
	pager = less -FMRiX
[color]
	ui = auto
[alias]
	dag = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) -%C(auto)%d%C(reset) %C(bold white)%s%C(reset)%n          %C(dim white)%an%C(reset) <%ae> -%C(reset) %C(cyan)%aD%C(reset) %C(green)(%ar)%C(reset)' --all
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
    path = ~/.gitconfigenv
