[submodule ".antigen"]
	path = .antigen
	url = https://github.com/zsh-users/antigen.git
	branch = master
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
