# Core Tools
pip
requests
tqdm

# JupyterLab
jupyterlab
jupyterlab_code_formatter
jupyterlab_sublime
ipywidgets
black
isort

# Data Science
numpy
numba
pandas
pyarrow
scipy
sympy
seaborn
statsmodels
ydata-profiling

# Visualization
matplotlib
altair
bokeh
plotly

# Machine Learning
scikit-learn
