# Core Tools
pip
httpx
tqdm

# JupyterLab
jupyterlab
ipywidgets

# Data Science
numpy
numba
pandas
pyarrow
scipy
sympy
seaborn
statsmodels
ydata-profiling

# Visualization
matplotlib
altair
bokeh
plotly

# Machine Learning
scikit-learn
